@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --secondary: #EDF2F7;
    --dark: #262626;
    --light: white;
    --transition: all 300ms ease;
    --transition-fast: all 150ms ease;
    --font: 'Noto Sans', Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font);
}

main {
    padding: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

.margin-left-auto {
    margin-left: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-7{
    margin-bottom: 7rem;
}

a {
    text-decoration: underline;
    color: #1E21FF;
}